@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate__fade-in {
  &.ng-enter {
    -webkit-transition: 1s;
    opacity: 0;
  }
  &.ng-enter-stagger {
    transition-delay: 0.2s;
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }
}
